SQLAlchemy
WTForms
Werkzeug
python-dotenv
Pillow
python-slugify
python-dateutil
Flask-DebugToolbar
flask
flask-sqlalchemy
flask-migrate
flask-login
flask-wtf
flask-limiter
flask-mail
email-validator
gunicorn
psycopg2-binary
